/* Set the global variables for everything. Change these to use your own fonts and colours. */
:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
  --base-fontsize: 1.15rem;

  /* Major third scale progression - see https://type-scale.com/ */
  --header-scale: 1.25;

  /* Line height is set to the "Golden ratio" for optimal legibility */
  --line-height: 1.618;

  /* Default (light) theme */
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #d8dae1;
  --accent: #0d47a1;
  --accent-light: #90caf9;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --border: #666;
    --accent: #ffb300;
    --accent-light: #ffecb3;
    --code: #cc7833;
    --preformatted: #ccc;
    --disabled: #111;
  }

  img,
  video {
    opacity: 0.6;
  }
}

html {
  /* Set the font globally */
  font-family: var(--sans-font);
}

/* Make the body a nice central block */
body {
  color: var(--text);
  background: var(--bg);
  font-size: var(--base-fontsize);
  line-height: var(--line-height);
  padding: 50px;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

.blogpost {
  margin:0 auto;
  text-align: left;
  width: 800px;
  padding-bottom:50px;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

backnav {
  display: block;
  margin:0 auto;
  text-align: left;
  width: 800px;
}

/* Make the header bg full width, but the content inline with body */
header {
  width:270px;
  float:left;
  position:fixed;
}

/* Remove margins for header text */
header h1,
header p {
  margin: 0;
}

/* Add a little padding to ensure spacing is correct between content and nav */
main {
  padding-top: 1.5rem;
}

/* Fix line height when title wraps */
h1,
h2,
h3 {
  line-height: 1.1;
}

/* Format navigation */
nav {
  font-size: 1rem;
  line-height: 2;
  padding: 1rem 0;
}

nav a {
  margin: 1rem 1rem 0 0;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--text) !important;
  display: inline-block;
  padding: 0.1rem 1rem;
  text-decoration: none;
  transition: 0.4s;
}

nav a:hover {
  color: var(--accent) !important;
  border-color: var(--accent);
  text-decoration: underline;
}

footer {
  margin-top: 4rem;
  padding: 2rem 1rem 1.5rem 1rem;
  color: var(--text-light);
  font-size: 0.9rem;
  text-align: center;
  border-top: 1px solid var(--border);
}

/* Format headers */
h1 {
  font-size: calc(
    var(--base-fontsize) * var(--header-scale) * var(--header-scale) *
      var(--header-scale) * var(--header-scale)
  );
  margin-top: calc(var(--line-height) * 1.5rem);
}

h2 {
  font-size: calc(
    var(--base-fontsize) * var(--header-scale) * var(--header-scale) *
      var(--header-scale)
  );
  margin-top: calc(var(--line-height) * 1.5rem);
}

h3 {
  font-size: calc(
    var(--base-fontsize) * var(--header-scale) * var(--header-scale)
  );
  margin-top: calc(var(--line-height) * 1.5rem);
}

h4 {
  font-size: calc(var(--base-fontsize) * var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

h5 {
  font-size: var(--base-fontsize);
  margin-top: calc(var(--line-height) * 1.5rem);
}

h6 {
  font-size: calc(var(--base-fontsize) / var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

/* Format links & buttons */
a {
  text-decoration: none;
  color: var(--accent);
}

a:visited {
  color: var(--accent);
}

a:hover {
  text-decoration: underline;
}

a button,
button,
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  border-radius: 5px;
  background: var(--accent);
  font-size: 1rem;
  color: var(--bg);
  padding: 0.7rem 0.9rem;
  margin: 0.5rem 0;
  transition: 0.4s;
}

a button[disabled],
button[disabled],
[role="button"][aria-disabled="true"],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][disabled],
select[disabled] {
  cursor: default;
  opacity: 0.5;
  cursor: not-allowed;
}

input:disabled,
textarea:disabled,
select:disabled {
  cursor: not-allowed;
  background-color: var(--disabled);
}

input[type="range"] {
  padding: 0;
}

/* Set the cursor to '?' while hovering over an abbreviation */
abbr {
  cursor: help;
}

button:focus,
button:enabled:hover,
[role="button"]:focus,
[role="button"]:not([aria-disabled="true"]):hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover,
input[type="checkbox"]:focus,
input[type="checkbox"]:enabled:hover,
input[type="radio"]:focus,
input[type="radio"]:enabled:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Format the expanding box */
details {
  background: var(--accent-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
  margin-bottom: 1rem;
}

summary {
  cursor: pointer;
  font-weight: bold;
  padding: 0.6rem 1rem;
}

details[open] {
  padding: 0.6rem 1rem 0.75rem 1rem;
}

details[open] summary {
  margin-bottom: 0.5rem;
  padding: 0;
}

details[open] > *:last-child {
  margin-bottom: 0;
}

/* Format tables */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 1.5rem 0;
}

td,
th {
  border: 1px solid var(--border);
  text-align: left;
  padding: 0.5rem;
}

th {
  background: var(--accent-bg);
  font-weight: bold;
}

tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background: var(--accent-bg);
}

table caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

socialbar {
  display: flex;
  gap: 10px;
}

.socialbutton {
  display: flex;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  transition: 0.15s;
}

.socialbutton:hover {
  opacity: 1.0;
}

#github.socialbutton {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' fill-opacity='1.0'%3E%3Cg id='github-mark-white' fill='%23FFFFFF'%3E%3Cpath d='M16.0132392,0 C7.15833158,0 0,7.33330267 0,16.4055981 C0,23.6575677 4.58658976,29.7962087 10.9494055,31.9688663 C11.7449213,32.132199 12.0363155,31.6158678 12.0363155,31.1815363 C12.0363155,30.8012045 12.0100933,29.4975433 12.0100933,28.1392157 C7.55559784,29.1172116 6.62798768,26.1835572 6.62798768,26.1835572 C5.91212174,24.2822318 4.85143394,23.7935672 4.85143394,23.7935672 C3.39347987,22.7885714 4.95763383,22.7885714 4.95763383,22.7885714 C6.57488773,22.8972376 7.42350353,24.4725643 7.42350353,24.4725643 C8.85490763,26.9712206 11.1614775,26.2652235 12.0894154,25.8305587 C12.2218375,24.7712298 12.6463093,24.0378995 13.0970033,23.6305679 C9.54422359,23.2502361 5.80624963,21.8379087 5.80624963,15.5362684 C5.80624963,13.7436092 6.44213787,12.2769487 7.44972573,11.1362868 C7.29075367,10.7289551 6.73385979,9.04462885 7.60902557,6.79030494 C7.60902557,6.79030494 8.96110752,6.35564009 12.0097655,8.4742979 C13.3150044,8.11518693 14.6610762,7.93250493 16.0132392,7.93096684 C17.3653212,7.93096684 18.7436253,8.12129937 20.0163851,8.4742979 C23.0653709,6.35564009 24.4174529,6.79030494 24.4174529,6.79030494 C25.2926186,9.04462885 24.735397,10.7289551 24.5764249,11.1362868 C25.6105627,12.2769487 26.2202288,13.7436092 26.2202288,15.5362684 C26.2202288,21.8379087 22.4822548,23.2229029 18.9029251,23.6305679 C19.486369,24.1465657 19.9898352,25.1242283 19.9898352,26.6725551 C19.9898352,28.8725459 19.963613,30.6382052 19.963613,31.1812029 C19.963613,31.6158678 20.2553349,32.132199 21.050523,31.9691997 C27.4133387,29.7958754 32,23.6575677 32,16.4055981 C32.0261506,7.33330267 24.8415969,0 16.0132392,0 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#mastodon.socialbutton {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='31px' height='32px' viewBox='0 0 31 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' fill-opacity='1.0'%3E%3Cg id='logo-white' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M30.3885128,7.08451217 C29.9185512,3.6462389 26.8739027,0.936649357 23.2647066,0.411601907 C22.6557934,0.322883154 20.3486605,0 15.0043421,0 L14.9644296,0 C9.6186269,0 8.47171941,0.322883154 7.86280621,0.411601907 C4.3540923,0.922102731 1.14986386,3.35680721 0.372450586,6.83580114 C-0.0014754631,8.5491117 -0.041380731,10.4485845 0.0280839456,12.1909635 C0.127107796,14.68966 0.146321465,17.1839858 0.376884668,19.6725392 C0.53627908,21.3255275 0.814338998,22.9653627 1.20898221,24.5797579 C1.94796567,27.5613215 4.93937961,30.0425768 7.87018673,31.0548208 C11.0080606,32.110482 14.3825646,32.285759 17.6159316,31.560984 C17.9715983,31.4795097 18.3233892,31.3850062 18.6711805,31.2773496 C19.4559892,31.031566 20.3767807,30.7566727 21.0536854,30.2738055 C21.0629626,30.2670435 21.0705905,30.2583023 21.0759506,30.2482005 C21.0813108,30.2381399 21.0843207,30.2270073 21.0846918,30.2156273 L21.0846918,27.8042188 C21.0845269,27.793581 21.0819705,27.7831081 21.0771463,27.7735835 C21.0723634,27.7640589 21.0654777,27.7557301 21.0569427,27.7491742 C21.0484489,27.7426183 21.0385533,27.7380416 21.0280391,27.7357326 C21.0174837,27.7334236 21.0065573,27.7334648 20.9960431,27.7358563 C18.9244683,28.2228054 16.8016422,28.4668985 14.6718066,28.4630639 C11.0064526,28.4630639 10.0206383,26.7511965 9.7383232,26.0385437 C9.51142387,25.4226211 9.36731826,24.7801038 9.30971725,24.1274023 C9.30914,24.1164759 9.3112016,24.1055082 9.31569588,24.0954888 C9.32019016,24.0854282 9.32707589,24.0766046 9.33569336,24.0696364 C9.34435207,24.0627094 9.35453636,24.0578853 9.36542159,24.0555351 C9.37630682,24.0531848 9.38760437,24.053391 9.39840714,24.0561535 C11.4354708,24.5398041 13.5236622,24.7838972 15.6191927,24.7833612 C16.1231707,24.7833612 16.6256643,24.7833612 17.1296834,24.7702906 C19.2372537,24.7121124 21.4586242,24.6059402 23.5322194,24.2073923 C23.5839655,24.1972492 23.6356703,24.1885081 23.6800359,24.1753963 C26.9507591,23.5572884 30.0633578,21.6170785 30.379648,16.7040461 C30.3914815,16.5106271 30.4210448,14.6780326 30.4210448,14.4773155 C30.4225292,13.7952156 30.6442333,9.63845941 30.3885128,7.08451217 Z M25.3545472,19.3438382 L21.9153503,19.3438382 L21.9153503,11.0536219 C21.9153503,9.30831531 21.1763504,8.41820031 19.6732402,8.41820031 C18.0208705,8.41820031 17.1932218,9.47118145 17.1932218,11.5510439 L17.1932218,16.0888244 L13.7746822,16.0888244 L13.7746822,11.5510439 C13.7746822,9.47118145 12.9455492,8.41820031 11.2931794,8.41820031 C9.79893415,8.41820031 9.05255367,9.30831531 9.05106932,11.0536219 L9.05106932,19.3438382 L5.61479992,19.3438382 L5.61479992,10.8019834 C5.61479992,9.05667682 6.06756779,7.67012933 6.9730623,6.64234091 C7.90713054,5.61698517 9.1323787,5.0904946 10.6532186,5.0904946 C12.4134511,5.0904946 13.7436345,5.7565965 14.6304097,7.0873984 L15.4861785,8.50111773 L16.3433904,7.0873984 C17.2301657,5.7565965 18.5603491,5.0904946 20.3176541,5.0904946 C21.8370097,5.0904946 23.0622166,5.61698517 23.9992535,6.64234091 C24.9047893,7.669181 25.3575159,9.05572848 25.3575159,10.8019834 L25.3545472,19.3438382 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#mail.socialbutton {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' fill-opacity='1.0'%3E%3Cg id='@' transform='translate(0.000000, 0.276855)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M0,15.8746338 C0,25.5999756 6.71691895,31.6168213 16.2908936,31.6168213 C18.6560059,31.6168213 20.4345703,31.3897705 21.607666,30.9735107 C22.6104736,30.5950928 22.9888916,30.1031494 22.9888916,29.3463135 C22.9888916,28.5516357 22.4969482,28.0218506 21.4941406,28.0218506 C21.229248,28.0218506 20.9643555,28.0407715 20.6427002,28.0975342 C19.3939209,28.3624268 18.3532715,28.5327148 16.8585205,28.5327148 C8.79821777,28.5327148 3.48144531,23.8024902 3.48144531,15.9692383 C3.48144531,8.30627441 8.5144043,3.08410645 16.0070801,3.08410645 C22.7807617,3.08410645 27.8137207,7.3034668 27.8137207,14.5880127 C27.8137207,18.1640625 26.5838623,20.6237793 24.7485352,20.6237793 C23.5565186,20.6237793 22.8942871,19.8669434 22.8942871,18.5424805 L22.8942871,10.1605225 C22.8942871,8.87390137 22.175293,8.11706543 20.9265137,8.11706543 C19.6777344,8.11706543 18.9587402,8.87390137 18.9587402,10.1605225 L18.9587402,10.7849121 L18.6749268,10.7849121 C17.9180908,9.08203125 16.2341309,8.11706543 14.152832,8.11706543 C10.425415,8.11706543 7.85217285,11.2390137 7.85217285,15.8746338 C7.85217285,20.6427002 10.4821777,23.8781738 14.3988037,23.8781738 C16.574707,23.8781738 18.1451416,22.8375244 18.9398193,20.9265137 L19.2236328,20.9265137 C19.6777344,22.7807617 21.4562988,23.8592529 23.8592529,23.8592529 C28.4570312,23.8592529 31.2762451,19.9615479 31.2762451,14.1906738 C31.2762451,5.63842773 24.9755859,0 16.026001,0 C6.56555176,0 0,6.35742188 0,15.8746338 Z M15.3826904,20.3967285 C13.3770752,20.3967285 12.1850586,18.7506104 12.1850586,15.9692383 C12.1850586,13.2067871 13.3770752,11.5606689 15.3826904,11.5606689 C17.4072266,11.5606689 18.6749268,13.2446289 18.6749268,15.9692383 C18.6749268,18.7127686 17.4072266,20.3967285 15.3826904,20.3967285 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#rss.socialbutton {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='29px' height='29px' viewBox='0 0 29 29' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' fill-opacity='1.0'%3E%3Cpath d='M0.586120586,21 C4.72825621,21 8.08612059,24.3578644 8.08612059,28.5 C8.08612059,28.6682137 8.08058278,28.835134 8.06967955,29.0005886 L3.0004063,29 C1.34355205,29 0.000406300421,27.6568542 0.000406300421,26 L0,21.0225647 C0.193409872,21.0076142 0.388876033,21 0.586120586,21 Z M19.8923198,29.0006042 L14.8372742,29.0001727 C13.5680136,21.4341591 7.57876934,15.4686057 0.000801767148,14.2347728 L0.000462454684,9.18288482 C10.3442372,10.4908335 18.5467261,18.6686097 19.8923198,29.0006042 Z M28.9473603,29.0003167 L24.9273237,29.0003167 C23.5324796,15.9038899 13.1084227,5.50534675 0.000286686398,4.14982118 L0.000286686398,0.13093431 C15.31946,1.51397026 27.5242073,13.6928558 28.9473603,29.0003167 Z' id='Shape' fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

/* Lists */
ol,
ul {
  padding-left: 3rem;
}

/* Format forms */
textarea,
select,
input {
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--text);
  background: var(--bg);
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
  width: 60%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* Add arrow to  */
select {
  background-image: linear-gradient(45deg, transparent 49%, var(--text) 51%),
    linear-gradient(135deg, var(--text) 51%, transparent 49%);
  background-position: calc(100% - 20px), calc(100% - 15px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

select[multiple] {
  background-image: none !important;
}

/* checkbox and radio button style */
input[type="checkbox"],
input[type="radio"] {
  vertical-align: bottom;
  position: relative;
}

input[type="radio"] {
  border-radius: 100%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: var(--accent);
}

input[type="checkbox"]:checked::after {
  /* Creates a rectangle with colored right and bottom borders which is rotated to look like a check mark */
  content: " ";
  width: 0.1em;
  height: 0.25em;
  border-radius: 0;
  position: absolute;
  top: 0.05em;
  left: 0.18em;
  background: transparent;
  border-right: solid var(--bg) 0.08em;
  border-bottom: solid var(--bg) 0.08em;
  font-size: 1.8em;
  transform: rotate(45deg);
}
input[type="radio"]:checked::after {
  /* creates a colored circle for the checked radio button  */
  content: " ";
  width: 0.25em;
  height: 0.25em;
  border-radius: 100%;
  position: absolute;
  top: 0.125em;
  background: var(--bg);
  left: 0.125em;
  font-size: 32px;
}

/* Make the textarea wider than other inputs */
textarea {
  width: 80%;
}

/* Makes input fields wider on smaller screens */
@media only screen and (max-width: 720px) {
  textarea,
  select,
  input {
    width: 100%;
  }
}

/* Ensures the checkbox and radio inputs do not have a set width like other input fields */
input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

/* do not show border around file selector button */
input[type="file"] {
  border: 0;
}

/* Without this any HTML using <fieldset> shows ugly borders and has additional padding/margin. (Issue #3) */
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

/* Misc body elements */

hr {
  color: var(--border);
  border-top: 1px;
  margin: 1rem auto;
}

mark {
  padding: 2px 5px;
  border-radius: 4px;
  background: var(--marked);
}

main img,
main video {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
  margin-bottom: 1rem;
}

blockquote {
  margin: 2rem 0 2rem 2rem;
  padding: 0.4rem 0.8rem;
  border-left: 0.35rem solid var(--accent);
  opacity: 0.8;
  font-style: italic;
}

cite {
  font-size: 0.9rem;
  color: var(--text-light);
  font-style: normal;
}

/* Use mono font for code like elements */
code,
pre,
pre span,
kbd,
samp {
  font-size: 1.075rem;
  font-family: var(--mono-font);
}

p code {
  color: var(--code);
}

kbd {
  color: var(--preformatted);
  border: 1px solid var(--preformatted);
  border-bottom: 3px solid var(--preformatted);
  border-radius: 5px;
  padding: 0.1rem;
}

pre {
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
  overflow-x: auto;
  color: var(--preformatted);
  background: var(--accent-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
}

/* Fix embedded code within pre */
pre code {
  color: var(--preformatted);
  background: none;
  margin: 0;
  padding: 0;
  word-wrap: normal;
  word-break: normal;
}

@media print, screen and (max-width: 960px) {

  div.blogpost {
    width:auto;
    margin:0;
  }

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
