/* Set the global variables for everything. Change these to use your own fonts and colours. */
:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
  "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica,
  "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
  --base-fontsize: 1.15rem;

  /* Major third scale progression - see https://type-scale.com/ */
  --header-scale: 1.25;

  /* Line height is set to the "Golden ratio" for optimal legibility */
  --line-height: 1.618;

  /* Default (light) theme */
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #d8dae1;
  --accent: #0d47a1;
  --accent-light: #90caf9;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --border: #666;
    --accent: #ffb300;
    --accent-light: #ffecb3;
    --code: #cc7833;
    --preformatted: #ccc;
    --disabled: #111;
  }

  img,
  video {
    opacity: 0.6;
  }
}

html {
  /* Set the font globally */
  font-family: var(--sans-font);
}

/* Make the body a nice central block */
body {
  color: var(--text);
  background: var(--bg);
  font-size: var(--base-fontsize);
  line-height: var(--line-height);
  padding: 50px;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

.blogpost {
  margin:0 auto;
  text-align: left;
  width: 800px;
  padding-bottom:50px;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

backnav {
  display: block;
  margin:0 auto;
  text-align: left;
  width: 800px;
}

pagebacknav {
  position: absolute;
}

/* Make the header bg full width, but the content inline with body */
header {
  width:270px;
  float:left;
  position:fixed;
}

/* Remove margins for header text */
header h1,
header p {
  margin: 0;
}

/* Add a little padding to ensure spacing is correct between content and nav */
main {
  padding-top: 1.5rem;
}

/* Fix line height when title wraps */
h1,
h2,
h3 {
  line-height: 1.1;
}

/* Format navigation */
nav {
  font-size: 1rem;
  line-height: 2;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

footer {
  margin-top: 4rem;
  padding: 2rem 1rem 1.5rem 1rem;
  color: var(--text-light);
  font-size: 0.9rem;
  text-align: center;
  border-top: 1px solid var(--border);
}

/* Format headers */
h1 {
  font-size: calc(
    var(--base-fontsize) * var(--header-scale) * var(--header-scale) *
    var(--header-scale) * var(--header-scale)
  );
  margin-top: calc(var(--line-height) * 1.5rem);
}

h2 {
  font-size: calc(
    var(--base-fontsize) * var(--header-scale) * var(--header-scale) *
    var(--header-scale)
  );
  margin-top: calc(var(--line-height) * 1.5rem);
}

h3 {
  font-size: calc(
    var(--base-fontsize) * var(--header-scale) * var(--header-scale)
  );
  margin-top: calc(var(--line-height) * 1.5rem);
}

h4 {
  font-size: calc(var(--base-fontsize) * var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

h5 {
  font-size: var(--base-fontsize);
  margin-top: calc(var(--line-height) * 1.5rem);
}

h6 {
  font-size: calc(var(--base-fontsize) / var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

/* Format links & buttons */
a {
  text-decoration: none;
  color: var(--accent);
}

a:visited {
  color: var(--accent);
}

a:hover {
  text-decoration: underline;
}

a button,
button,
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  border-radius: 5px;
  background: var(--accent);
  font-size: 1rem;
  color: var(--bg);
  padding: 0.7rem 0.9rem;
  margin: 0.5rem 0;
  transition: 0.4s;
}

a button[disabled],
button[disabled],
[role="button"][aria-disabled="true"],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][disabled],
select[disabled] {
  cursor: default;
  opacity: 0.5;
  cursor: not-allowed;
}

input:disabled,
textarea:disabled,
select:disabled {
  cursor: not-allowed;
  background-color: var(--disabled);
}

input[type="range"] {
  padding: 0;
}

/* Set the cursor to '?' while hovering over an abbreviation */
abbr {
  cursor: help;
}

button:focus,
button:enabled:hover,
[role="button"]:focus,
[role="button"]:not([aria-disabled="true"]):hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover,
input[type="checkbox"]:focus,
input[type="checkbox"]:enabled:hover,
input[type="radio"]:focus,
input[type="radio"]:enabled:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Format the expanding box */
details {
  background: var(--accent-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
  margin-bottom: 1rem;
}

summary {
  cursor: pointer;
  font-weight: bold;
  padding: 0.6rem 1rem;
}

details[open] {
  padding: 0.6rem 1rem 0.75rem 1rem;
}

details[open] summary {
  margin-bottom: 0.5rem;
  padding: 0;
}

details[open] > *:last-child {
  margin-bottom: 0;
}

/* Format tables */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 1.5rem 0;
}

td,
th {
  border: 1px solid var(--border);
  text-align: left;
  padding: 0.5rem;
}

th {
  background: var(--accent-bg);
  font-weight: bold;
}

tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background: var(--accent-bg);
}

table caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

socialbar {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}

.socialbutton {
  display: flex;
  height: 1.25rem;
  width: 1.25rem;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  transition: 0.15s;
}

.socialbutton:hover {
  opacity: 1.0;
}

#github.socialbutton {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M16.013 0C7.158 0 0 7.333 0 16.406c0 7.252 4.587 13.39 10.95 15.563.795.163 1.086-.353 1.086-.787 0-.38-.026-1.684-.026-3.043-4.454.978-5.382-1.955-5.382-1.955-.716-1.902-1.777-2.39-1.777-2.39-1.458-1.005.107-1.005.107-1.005 1.617.108 2.466 1.684 2.466 1.684 1.43 2.498 3.737 1.792 4.665 1.358.133-1.06.557-1.793 1.008-2.2-3.553-.38-7.29-1.793-7.29-8.095 0-1.792.635-3.26 1.643-4.4-.16-.407-.716-2.091.159-4.346 0 0 1.352-.434 4.4 1.684a15.155 15.155 0 0 1 4.004-.543c1.352 0 2.73.19 4.003.543 3.05-2.118 4.401-1.684 4.401-1.684.876 2.255.318 3.939.16 4.346 1.034 1.14 1.643 2.608 1.643 4.4 0 6.302-3.738 7.687-7.317 8.095.583.516 1.087 1.493 1.087 3.042 0 2.2-.026 3.965-.026 4.508 0 .435.291.951 1.087.788C27.413 29.796 32 23.658 32 16.406 32.026 7.333 24.842 0 16.013 0Z'/%3E%3C/svg%3E");
}

#mastodon.socialbutton {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='32'%3E%3Cpath fill='%23FFF' d='M30.389 7.085c-.47-3.439-3.515-6.148-7.124-6.673-.61-.09-2.916-.412-8.26-.412h-.04C9.618 0 8.471.323 7.862.412 4.354.922 1.15 3.357.373 6.836c-.374 1.713-.414 3.613-.345 5.355.1 2.499.118 4.993.349 7.482.16 1.653.437 3.292.832 4.907.739 2.981 3.73 5.463 6.661 6.475a18.139 18.139 0 0 0 9.746.506c.356-.081.707-.176 1.055-.284.785-.245 1.706-.52 2.383-1.003a.076.076 0 0 0 .03-.058v-2.412a.07.07 0 0 0-.027-.055.073.073 0 0 0-.061-.013 27.425 27.425 0 0 1-6.324.727c-3.666 0-4.651-1.712-4.934-2.424a7.414 7.414 0 0 1-.428-1.912.07.07 0 0 1 .026-.057.072.072 0 0 1 .062-.014c2.037.484 4.126.728 6.221.727.504 0 1.007 0 1.51-.013 2.108-.058 4.33-.164 6.403-.563.052-.01.104-.018.148-.032 3.27-.618 6.383-2.558 6.7-7.471.011-.193.041-2.026.041-2.227.002-.682.223-4.839-.032-7.392Zm-5.034 12.259h-3.44v-8.29c0-1.746-.739-2.636-2.242-2.636-1.652 0-2.48 1.053-2.48 3.133v4.538h-3.418V11.55c0-2.08-.83-3.133-2.482-3.133-1.494 0-2.24.89-2.242 2.636v8.29H5.615v-8.542c0-1.745.453-3.132 1.358-4.16.934-1.025 2.16-1.552 3.68-1.552 1.76 0 3.09.667 3.977 1.997l.856 1.414.857-1.414c.887-1.33 2.217-1.997 3.975-1.997 1.519 0 2.744.527 3.681 1.552.906 1.027 1.359 2.414 1.359 4.16l-.003 8.542Z'/%3E%3C/svg%3E");
}

#mail.socialbutton {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M0 16.151c0 9.726 6.717 15.743 16.29 15.743 2.366 0 4.145-.227 5.318-.644 1.002-.378 1.38-.87 1.38-1.627 0-.795-.491-1.324-1.494-1.324-.265 0-.53.019-.851.075-1.25.265-2.29.436-3.784.436-8.06 0-13.378-4.73-13.378-12.564 0-7.663 5.033-12.885 12.526-12.885 6.774 0 11.807 4.22 11.807 11.504 0 3.576-1.23 6.036-3.065 6.036-1.192 0-1.855-.757-1.855-2.082v-8.382c0-1.286-.719-2.043-1.967-2.043-1.25 0-1.968.757-1.968 2.043v.625h-.284c-.757-1.703-2.44-2.668-4.522-2.668-3.728 0-6.3 3.122-6.3 7.757 0 4.769 2.63 8.004 6.546 8.004 2.176 0 3.746-1.04 4.54-2.952h.285c.454 1.855 2.232 2.933 4.635 2.933 4.598 0 7.417-3.898 7.417-9.668 0-8.553-6.3-14.191-15.25-14.191C6.566.277 0 6.634 0 16.15Zm15.383 4.523c-2.006 0-3.198-1.647-3.198-4.428 0-2.762 1.192-4.408 3.198-4.408 2.024 0 3.292 1.683 3.292 4.408 0 2.744-1.268 4.428-3.292 4.428Z'/%3E%3C/svg%3E");
}

#rss.socialbutton {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M1.587 22.87c4.15 0 7.514 3.357 7.514 7.5 0 .167-.006.334-.017.5H4.006a3.003 3.003 0 0 1-3.006-3v-4.978c.194-.015.39-.023.587-.023Zm19.341 8h-5.064c-1.271-7.567-7.271-13.532-14.863-14.766v-5.052c10.362 1.308 18.58 9.486 19.927 19.818Zm9.072 0h-4.027C24.575 17.772 14.133 7.373 1 6.018V2c15.347 1.383 27.574 13.562 29 28.87Z'/%3E%3C/svg%3E");
}

/* Lists */
ol,
ul {
  padding-left: 3rem;
}

/* Format forms */
textarea,
select,
input {
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--text);
  background: var(--bg);
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
  width: 60%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* Add arrow to  */
select {
  background-image: linear-gradient(45deg, transparent 49%, var(--text) 51%),
  linear-gradient(135deg, var(--text) 51%, transparent 49%);
  background-position: calc(100% - 20px), calc(100% - 15px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

select[multiple] {
  background-image: none !important;
}

/* checkbox and radio button style */
input[type="checkbox"],
input[type="radio"] {
  vertical-align: bottom;
  position: relative;
}

input[type="radio"] {
  border-radius: 100%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: var(--accent);
}

input[type="checkbox"]:checked::after {
  /* Creates a rectangle with colored right and bottom borders which is rotated to look like a check mark */
  content: " ";
  width: 0.1em;
  height: 0.25em;
  border-radius: 0;
  position: absolute;
  top: 0.05em;
  left: 0.18em;
  background: transparent;
  border-right: solid var(--bg) 0.08em;
  border-bottom: solid var(--bg) 0.08em;
  font-size: 1.8em;
  transform: rotate(45deg);
}
input[type="radio"]:checked::after {
  /* creates a colored circle for the checked radio button  */
  content: " ";
  width: 0.25em;
  height: 0.25em;
  border-radius: 100%;
  position: absolute;
  top: 0.125em;
  background: var(--bg);
  left: 0.125em;
  font-size: 32px;
}

/* Make the textarea wider than other inputs */
textarea {
  width: 80%;
}

/* Makes input fields wider on smaller screens */
@media only screen and (max-width: 720px) {
  textarea,
  select,
  input {
    width: 100%;
  }
}

/* Ensures the checkbox and radio inputs do not have a set width like other input fields */
input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

/* do not show border around file selector button */
input[type="file"] {
  border: 0;
}

/* Without this any HTML using <fieldset> shows ugly borders and has additional padding/margin. (Issue #3) */
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

/* Misc body elements */

hr {
  color: var(--border);
  border-top: 1px;
  margin: 1rem auto;
}

mark {
  padding: 2px 5px;
  border-radius: 4px;
  background: var(--marked);
}

main img,
main video {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
  margin-bottom: 1rem;
}

blockquote {
  margin: 2rem 0 2rem 2rem;
  padding: 0.4rem 0.8rem;
  border-left: 0.35rem solid var(--accent);
  opacity: 0.8;
  font-style: italic;
}

cite {
  font-size: 0.9rem;
  color: var(--text-light);
  font-style: normal;
}

/* Use mono font for code like elements */
code,
pre,
pre span,
kbd,
samp {
  font-size: 1.075rem;
  font-family: var(--mono-font);
}

p code {
  color: var(--code);
}

kbd {
  color: var(--preformatted);
  border: 1px solid var(--preformatted);
  border-bottom: 3px solid var(--preformatted);
  border-radius: 5px;
  padding: 0.1rem;
}

pre {
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
  overflow-x: auto;
  color: var(--preformatted);
  background: var(--accent-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
}

/* Fix embedded code within pre */
pre code {
  color: var(--preformatted);
  background: none;
  margin: 0;
  padding: 0;
  word-wrap: normal;
  word-break: normal;
}

@media print, screen and (max-width: 960px) {

  div.blogpost {
    width:auto;
    margin:0;
  }

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header li {
    display: inline-block;
    margin-right: 1.5em;
  }

  pagebacknav {
    margin-top: -2em;
  }

/*  header ul {
    display:none;
  }*/
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
