<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ config.title }} :: {{ page.title }}
    {% else %}
      {{ config.title }}
    {% endif %}
  </title>
  <link rel="stylesheet" href="{{ config.base_url }}/simple.css" }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  {% if current_path %}
    <meta property="og:url" content="{{config.base_url | safe}}/{{current_path | safe}}" />
  {% else %}
    <meta property="og:url" content="{{config.base_url | safe}}" />
  {% endif %}
  <meta property="og:type" content="article" />
  <meta property="og:site_name" content="{{ config.title | safe }}" />

  {% block meta_content %}
    <meta property="og:title" content="{{ config.title }}" />
    {% if config.description %}
    <meta name="description" content="{{ config.description | safe }}" />
    <meta property="og:description" content="{{ config.description | safe }}" />
  {% endif %}
  {% endblock meta_content %}

  {% if config.extra.favicon %}
  <link rel="shortcut icon" href="{{ config.base_url }}{{ config.extra.favicon }}">
  {% endif %}

  <link rel="alternate" type="application/atom+xml" title="Ciao!" href="{{ config.base_url }}/atom.xml">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
 
  {% if page.extra.latex %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js" integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
  <script>
      document.addEventListener("DOMContentLoaded", function() {
          renderMathInElement(document.body, {
            delimiters: [
                {left: '$$', right: '$$', display: true},
                {left: '$', right: '$', display: false},
                {left: '\\(', right: '\\)', display: false},
                {left: '\\[', right: '\\]', display: true}
            ],
            throwOnError : false
          });
      });
  </script>
  {% endif %}

</head>

<body>
    {% block content %} {% endblock %}
</body>

</html>