{% extends "base.html" %}
{% block meta_content %}
  {% if page.title %}
    <meta property="og:title" content="{{ config.title }} :: {{ page.title }}" />
  {% endif %}
  {% if page.summary %}
    <meta name="description" content="{{ page.description | safe }}" />
    <meta property="og:description" content="{{ page.description | safe }}" />
  {% endif %}
{% endblock meta_content %}
{% block content %}
    <backnav>
      <a href="{{ config.base_url }}">&#8592; Home</a>
    </backnav>
    <div class="blogpost">
      <h2 class="post-title">{{ page.title }}</h2>
      {{ page.content | safe }}
    </div>
{% endblock content %}
